.gradle/
build/
*.iml
.idea/
*.log
*.so
*.dll
*.dylib

src/main/java/org/duktape/duktapejava/Duktape.java
src/main/java/org/duktape/duktapejava/duk_context.java
src/main/c/duk_config.h
src/main/c/duktape.h
src/main/c/duktape.c
duktape-api/
!duktape-api/constants.h
linux-x86_64-debug.properties
